.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.image-container {
    position: absolute;
    width: 225vh;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the background stays behind other elements */
}


.form-overlay {
    position: absolute;
    top: 20%;
    left: 52%;
    transform: translate(-20%, -50%);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #218838;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    background-color: #f4f4f4;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    width: 48%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #218838;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-input {
    border-color: red;
}

.image-container {
    position: absolute;
    width: 225vh;
    height: 100vh;
}
